# FastAPI и сервер
fastapi>=0.115.0
uvicorn>=0.30.0

# База данных
psycopg2-binary==2.9.9

# Авторизация и безопасность
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.0.1
python-multipart==0.0.6

# Конфигурация
pydantic>=2.10.0
python-dotenv==1.0.0

# HTTP клиент для тестов
httpx==0.25.2

# Утилиты
itsdangerous==2.1.2